ul.nav.nav-pills.nav-stacked{
  text-align:center;
}

nav.navbar.navbar-inverse{
  background-color:#e52335;
}

nav.navbar.navbar-inverse{
  background-color:#e52325;
}

ul.nav.nav-pills.nav-stacked{
  color:#e52325;
}

ul.nav.nav-pills.nav-stacked{
}

