<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiZza-BiteS!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Footer.css">
 
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">   
    
    
    
     <style>
  
  div.gallery {
    position:relative;
     
    margin: 13px;
    border: 1px solid #ccc;
    width: 250px;
    height:200px;
    display:inline-block;
}

div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    
    width: 100%;
    height:150px;
}
div.desc {
    padding: 15px;
    text-align: center;
    display:inline;
}

.button {
    background-color: #e52335; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
</style>
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="active" class="navbar-header"><a class="navbar-brand navbar-link" href="https://pizza-bites-shamahoque.c9users.io">PiZza-BiteS! </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-2">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active" role="presentation"><a href="https://pizza-bites-shamahoque.c9users.io/signin">Admin Site </a></li>
                            <li class="active" role="presentation"><a href="#">About Us </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3"><img src="/assets/img/pizzaonline logo.png"></div>
        <div class="col-md-12">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand navbar-link" href="#"> </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="active" role="presentation"><a href="/products/allproduct/Beef">BEEF </a></li>
                            <li class="active" role="presentation"><a href="/products/allproduct/Chicken">CHICKEN </a></li>
                            <li class="active" role="presentation"><a href="/products/allproduct/Vegetable">VEGETABLE </a></li>
                            <li class="active" role="presentation"><a href="/products/allproduct/Chesse">PiZza-BiteS! Special</a></li>
                            <li class="active" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Sides <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a href="#">Fries </a></li>
                                    <li role="presentation"><a href="#">Salads</a></li>
                                    <li role="presentation"><a href="#">Garlic Bread</a></li>
                                </ul>
                            </li>
                            <li class="active" role="presentation"><a href="#">BEVERAGES </a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right"></ul>
                    </div>
                </div>
            </nav>
            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    
                         <h2>Customers Favourite</h2>
                    
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <% for(var i=0; i<products.length; i++) { %>
                    <div class="gallery">
   
    <img src=<%=products[i].image%> width="500" height="300" >
  
  <div class="desc">
     <h5><%=products[i].name%> </h5>
      <h6>Price:<%=products[i].price%> BDT</h6>
      <a href="<%= "/orders/" +products[i]._id%>"><button class="button">Order Now</button></a>
      <br>
      <br>
      
</div>
  
              
    </div>
            <%}%>        
                </div>
            </div>
            <footer>
                <div class="row">
                    <div class="col-md-4 col-sm-6 footer-navigation">
                        <h3><a href="#">PiZza-BiteS!<span> </span></a></h3>
                        <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                        <p
                        class="company-name">PiiZza-BiteS!© 2017 </p>
                    </div>
                    <div class="col-md-4 col-sm-6 footer-contacts">
                        <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                            <p><span class="new-line-span">Mirpur, Dhaka-1216</span></p>
                        </div>
                        <div><i class="fa fa-phone footer-contacts-icon"></i>
                            <p class="footer-center-info email text-left"> 019........</p>
                        </div>
                        <div><i class="fa fa-envelope footer-contacts-icon"></i>
                            <p> <a href="#" target="_blank">pizzabites123@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-4 footer-about">
                        <h4>About the company</h4>
                        <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                        </p>
                        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
